<a href="https://colab.research.google.com/github/muhamad-rizal/praktikum01/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
path="/content/drive/My Drive/Machine Learning/Dataset/Praktikum01/catatan_lokasi.csv"
dataset=pd.read_csv(path)
dataset

       id   tanggal          lokasi_dominan
0       1  21/05/19           Jakarta Pusat
1       2  21/05/19         Kabupaten Bogor
2       3  21/05/19           Jakarta Pusat
3       4  21/05/19          Kota Tangerang
4       5  21/05/19              Kota Bogor
...   ...       ...                     ...
2595   96  15/06/19              Kota Bogor
2596   97  15/06/19  Kota Tangerang Selatan
2597   98  15/06/19           Jakarta Timur
2598   99  15/06/19           Jakarta Timur
2599  100  15/06/19           Jakarta Timur

[2600 rows x 3 columns]

In [10]:
dataset.head() #mmenampilkan atau cek 5 data awal

   id   tanggal   lokasi_dominan
0   1  21/05/19    Jakarta Pusat
1   2  21/05/19  Kabupaten Bogor
2   3  21/05/19    Jakarta Pusat
3   4  21/05/19   Kota Tangerang
4   5  21/05/19       Kota Bogor

In [12]:
dataset.shape #untuk menampilkan dimensi dataset atau menampilkan jumlah dan coloum

(2600, 3)

In [13]:
dataset.isnull().sum() #printah untuk mengecek data kosong, terlihat data tidak ada yang kosong

id                0
tanggal           0
lokasi_dominan    0
dtype: int64

In [14]:
dataset.min() #printah untuk mengetahui data informasi terendah

id                            1
tanggal                01/06/19
lokasi_dominan    Jakarta Barat
dtype: object

In [15]:
dataset.max() #printah untuk mengetahui data informasi tertinggi

id                            100
tanggal                  31/05/19
lokasi_dominan    Kota Yogyakarta
dtype: object

In [16]:
dataset.describe() #printah untuk melihat hasil rangkuman statistik

                id
count  2600.000000
mean     50.500000
std      28.871623
min       1.000000
25%      25.750000
50%      50.500000
75%      75.250000
max     100.000000

In [18]:
dataset.describe().loc['max','id']

100.0

In [20]:
data=dataset.dropna() #untuk menghapus data yang kosong

In [21]:
data.shape

(2600, 3)

In [22]:
#memilih target prediksi(prediktion target)
y=data['lokasi_dominan']
y

0                Jakarta Pusat
1              Kabupaten Bogor
2                Jakarta Pusat
3               Kota Tangerang
4                   Kota Bogor
                 ...
2595                Kota Bogor
2596    Kota Tangerang Selatan
2597             Jakarta Timur
2598             Jakarta Timur
2599             Jakarta Timur
Name: lokasi_dominan, Length: 2600, dtype: object

In [28]:
#memilih fitur (feature selection)
Fitur=['id','lokasi_dominan']
x=data[Fitur]
x

       id          lokasi_dominan
0       1           Jakarta Pusat
1       2         Kabupaten Bogor
2       3           Jakarta Pusat
3       4          Kota Tangerang
4       5              Kota Bogor
...   ...                     ...
2595   96              Kota Bogor
2596   97  Kota Tangerang Selatan
2597   98           Jakarta Timur
2598   99           Jakarta Timur
2599  100           Jakarta Timur

[2600 rows x 2 columns]